<section>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Imię i nazwisko</th>
        <th>Nazwa użytkownika</th>
        <th>Adres e-mail</th>
        <th style="width: 220px;">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.username}}</td>
        <td>
          <a href="mailto:{{student.email}}">{{student.email}}</a>
        </td>
        <td>
          <a routerLink="/edit/{{student.id}}" class="button button-green">Edytuj</a>
          <button class="button button-red" (click)="delete(student)">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-student-new [students]="students"></app-student-new>

</section>

  